<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@Model.Title - @Model.Subtitle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Model.MetaDescription">
    <meta name="keywords" content="@Model.MetaKeywords">
    <meta name="author" content="@Model.Publisher.Publisher">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    <link href="@Model.Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="@Model.Assets/css/docs.css" rel="stylesheet">
    <link href="@Model.Assets/css/grazewp7.css" rel="stylesheet">
    <link href="@Model.Assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Model.Assets/ico/favicon.ico">
    <link rel="apple-touch-icon" href="@Model.Assets/ico/bootstrap-apple-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="@Model.Assets/ico/bootstrap-apple-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="@Model.Assets/ico/bootstrap-apple-114x114.png">
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '@Model.GoogleAnalytics']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50" id="home">
    @Model.TopNavigation
    <div class="container">
        <div class="inner">
            <div class="row" id="mobileheader">
                <div class="jumbotron masthead">
                    <h2 class="pagination-centered jumbotron">@Model.Title</h2>
                    <p>@Model.Subtitle</p>
                </div>
            </div>
            <div class="subnav subnav-fixed">
                <ul class="nav nav-pills">
                    <li>
                        <a href="#home"><i class="icon-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="#apps"><i class="icon-star"></i> Apps</a>
                    </li>
                    <li>
                        <a href="#services"><i class="icon-check"></i> Services</a>
                    </li>
                    <li>
                        <a href="#contact"><i class="icon-question-sign"></i> Contact</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="span10">
                    <header id="normalheader" class="jumbotron masthead topheading">
                        <h1>@Model.Subtitle</h1>
                        <p>@Model.Description</p>
                    </header>
                </div>
                <div class="span2">
                    <header class="masthead" style="padding-top: 50px;">
                        <div class="pull-right">
                            <h3 class="pagination-centered">App Spotlight</h3>
                            <div class="masthead">
                                <a href="@Model.Apps[0].Link"><img alt="IRC7 logo" src="assets/shots/irc7_99.png" style="width: 109px;margin-top: -20px;" /></a><br />
                                <a href="@Model.Assets/download.html?source=spotlight&id=@Model.SpotlightApplicationId"><img alt="Download IRC7" src="assets/shots/Download-EN-Small.png" style="margin-top: 10px;" /></a>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            @*            <section id="banner">
                <div class="span12 hero-unit">
                    <h1 class="pagination-centered">App of the Week</h1>
                    <p class="pagination-centered">Tagline</p>
                    <p class="pagination-centered">
                        <a class="btn btn-primary btn-large">Learn more </a>
                    </p>
                </div>
            </section>*@
            <section id="apps">
                <div class="page-header">
                    <h2>Windows Phone Apps <small>@Model.AppsSubtitle</small></h2>
                </div>
                <div class="row">
                    <div class="span12">
                        <ul class="thumbnails">
                            @foreach (var app in Model.Apps)
                            {
                                <li class="span4">
                                    <a href="@app.Link">
                                    <div class="pagination-centered">
                                        <img alt="@app.Title" src="@app.Image" />
                                    </div>
                                    <h4 class="pagination-centered">
                                        @app.Title</h4>
                                    </a>
                                    <p class="pagination-centered">@app.App</p>
                                </li>
                            
                            }
                        </ul>
                    </div>
                </div>
                <p class="pull-right">
                    <a href="#">Back to top</a></p>
            </section>
            <section class="row">
                <div class="span8">
                    <section id="services">
                        <div class="page-header">
                            <h2>Services <small>@Model.ServicesSubtitle</small></h2>
                        </div>
                        @Model.Services
                        <img alt="Microsoft Certified Professional" class="pull-left" src="assets/shots/mcplogo.png" />
                        <img alt="Microsoft Bizspark startup" class="pull-right" src="assets/shots/bizsparklogo.jpg" />
                    </section>
                </div>
                <div class="span4">
                    <section id="about">
                        <div class="page-header">
                            <h2>Technologies <small>@Model.StackSubtitle</small></h2>
                        </div>
                        @Model.Stack
                    </section>
                    <p class="pull-right">
                        <a href="#">Back to top</a></p>
                    <section id="contact">
                        <div class="page-header">
                            <h2>Contact <small>We would Like to Hear from You!</small></h2>
                        </div>
                        <h4>Address</h4>
                        @Model.Address
                        <h4>Phone</h4>
                        @Model.Phone
                        <h4>Email</h4>
                        <a href="mailto:@Model.Email" class="btn btn-info">@Model.Email</a>
                    </section>
                </div>
            </section>
        </div>
        <footer class="footer">
            <p class="pull-right">
                <a href="#">Back to top</a></p>
            <p>Copyright
                <a href="@Model.Publisher.HomePage" target="_blank">@Model.Publisher.Publisher
                </a>
                2012 </p>
            <h6>Created with
                <a href="@Model.WP7Graze.Link">@Model.WP7Graze.WP7Graze</a>
                using the
                <a href="@Model.Graze.Link">@Model.Graze.Graze.</a>
            </h6>
        </footer>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="@Model.Assets/js/bootstrap.min.js"></script>
    <script src="@Model.Assets/js/easySlider1.7.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            showSlider();
            showScreenshots();
        });

        function showSlider() {
            $("#slider").easySlider({
                auto: true,
                continuous: true,
                pause: 5000,
                controlsShow: false
            });
        }

        function showScreenshots() {
            $("#screenshotarea").css("visibility", "visible");
        }
        
    </script>
</body>
</html>
