@{
    _Layout = "./template/Layout.cshtml";
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.MetaDescription;
    var first = true;
}
@section header
{
    <section class="taglineWrap">
        <div class="container">
            <div class="row tagline pagination-centered">
                <div class="span8">
                    <h2>@Model.AppName <small>@Model.AppDescription</small></h2>
                </div>
                <div class="span4">
                    <div>
                        <a href="@Model.Download.Link" class="btn btn-primary btn-large">@Model.Download.Download</a>
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="span5">
				   <div id="screenshotarea">
					  <div id="phones">
						<div id="phone">
							<div id="screens">
							   <div id="slider">
								  <ul>
									 @foreach (var screenshot in Model.Screenshots)
									 {
									 <li>
										<img src="assets/shots/@screenshot.screenshot" alt="@screenshot.alt" />
									 </li>
									 }
								  </ul>
							   </div>
							</div>
						 </div>
					  	<div id="smallPhone">
							<img src="assets/shots/@Model.StaticScreenshot.StaticScreenshot" alt="@Model.StaticScreenshot.alt" >
						</div>

						 <div id="myModal" class="modal hide fade">
							<div class="modal-header">
							   <a class="close" data-dismiss="modal">&times;</a>
							   <h3>Esittely</h3>
							</div>
							<div class="modal-body">
							   @Model.IntroductionVideo
							</div>
							<div class="modal-footer">
							   <a href="#" class="btn" data-dismiss="modal">Sulje</a>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
			</div>
        </div>
        <!-- /container -->
		
		
    </section>
}
<div class="row featuredContent">
    <div class="span12">
        <ul class="thumbnails">
            @foreach (var feature in Model.Features)
            {
                <li class="span4">
                    <h4 class="pagination-centered">@feature.Title</h4>
                    <p class="pagination-centered">@feature.Feature</p>
                </li>
            }
        </ul>
    </div>
</div>
<div class="row-fluid relative">
@*     <div class="span12">
        <h2>
            Uutisia</h2>
        @{
            var index = 1;
        }
        @foreach (var page in Model.News.Pages)
        {
            <h2 class="heading">
                <a href="@page.Location">@page.Title</a></h2>
            <em>@page.Time.ToString("g")</em>
            <p>@page.Content</p>
                                
            index = index + 1;
        }
    </div> *@
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".carousel").carousel();
        });
    </script>
	
    <script src="http://assets.softwaremk.org/js/easySlider1.7.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            showSlider();
            showScreenshots();
        });

        function showSlider() {
            $("#slider").easySlider({
                auto: true,
                continuous: true,
                pause: 5000,
                controlsShow: false
            });
        }

        function showScreenshots() {
            $("#screenshotarea").css("visibility", "visible");
        }
        
    </script>
	
}
