@{
    _Layout = "./template/Layout.cshtml";
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.MetaDescription;
    var first = true;
}
@section header
{
    <section class="taglineWrap" style="background: @Model.ThemeColor">
        <div class="container">
			<div class="row">
				<div class="span5">
				   <div id="screenshotarea">
					  <div id="phones">
						<div id="phone">
							<div id="screens">
							   <div id="slider">
								  <ul>
									 @foreach (var screenshot in Model.Screenshots)
									 {
									 <li>
										<img src="assets/shots/@screenshot.screenshot" alt="@screenshot.alt" />
									 </li>
									 }
								  </ul>
							   </div>
							</div>
						 </div>
					  	<div id="smallPhone">
							<img src="assets/shots/@Model.StaticScreenshot.StaticScreenshot" alt="@Model.StaticScreenshot.alt" >
						</div>

					  </div>
				   </div>
				</div>
				<div class="span7 topheading headingarea">
					<div class="row-fluid">
						<div class="span12 pagination-centered">
							<img src="assets/shots/logo.png" alt="logo" style="max-width:300px !important;"/>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12 pagination-centered">
							<h1 style="color: @Model.ThemeFontColor; margin-bottom:50px !important;">@Model.Subtitle</h1>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12 pagination-centered" >
							<a href="@Model.Download.Link" class="btn btn-primary btn-large" style="margin-bottom:25px !important;">@Model.Download.Download</a>
						</div>

					</div>
					
						
				</div>
			</div>
        </div>
        <!-- /container -->
		
		
    </section>
}
<div class="row featuredContent">
    <div class="span12">
        <ul class="thumbnails">
            @foreach (var feature in Model.Features)
            {
                <li class="span4">
                    <h4 class="pagination-centered">@feature.Title</h4>
                    <p class="pagination-centered">@feature.Feature</p>
                </li>
            }
        </ul>
    </div>
</div>
<div class="row-fluid relative">
@*     <div class="span12">
        <h2>
            Uutisia</h2>
        @{
            var index = 1;
        }
        @foreach (var page in Model.News.Pages)
        {
            <h2 class="heading">
                <a href="@page.Location">@page.Title</a></h2>
            <em>@page.Time.ToString("g")</em>
            <p>@page.Content</p>
                                
            index = index + 1;
        }
    </div> *@
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".carousel").carousel();
        });
    </script>
	
    <script src="http://assets.softwaremk.org/js/easySlider1.7.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            showSlider();
            showScreenshots();
        });

        function showSlider() {
            $("#slider").easySlider({
                auto: true,
                continuous: true,
                pause: 5000,
                controlsShow: false
            });
        }

        function showScreenshots() {
            $("#screenshotarea").css("visibility", "visible");
        }
        
    </script>
	
}
