<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IRC7 Help | Windows Phone IRC App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IRC7 Help. @Model.Description">
    <meta name="keywords" content="@Model.MetaKeywords">
    <meta name="author" content="@Model.Publisher.Publisher">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Le styles -->
    <link href="@Model.Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="@Model.Assets/css/docs.css" rel="stylesheet">
    <link href="@Model.Assets/css/grazewp7.css" rel="stylesheet">
    <link href="@Model.Assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Model.Assets/ico/favicon.ico">
    <link rel="apple-touch-icon" href="@Model.Assets/ico/bootstrap-apple-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="@Model.Assets/ico/bootstrap-apple-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="@Model.Assets/ico/bootstrap-apple-114x114.png">
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '@Model.GoogleAnalytics']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">        stLight.options({ publisher: "7904eca5-3d12-407f-b8ca-bc1689bf461a" }); </script>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50" id="home">
    @Model.TopNavigation
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="span8">
                    <header id="normalheader" class="jumbotron masthead topheading">
                        <h1 class="pagination-centered jumbotron">Help</h1>
                    </header>
                    <header id="mobileheader" class="jumbotron masthead topheading">
                        <h1 class="pagination-centered jumbotron">Help</h1>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="span8">
                    <div id="content">
                        @foreach (var page in Model.Pages)
                        {
                            
                            <h2><a href="@page.Location">@page.Title</a></h2>
                        }
                    </div>
                </div>
                <div class="span4">
                    <div id="links">
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <p class="pull-right">
                <a href="#">Back to top</a>
            </p>
            <p>
                Copyright <a href="@Model.Publisher.HomePage" target="_blank">@Model.Publisher.Publisher
                </a>2012
            </p>
            <h6>Created with <a href="@Model.WP7Graze.Link">@Model.WP7Graze.WP7Graze</a>using the
                <a href="@Model.Graze.Link">@Model.Graze.Graze.</a></h6>
        </footer>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="@Model.Assets/js/bootstrap.min.js"></script>
</body>
</html>
